#deck-cards-container {
    transition: padding var(--transition-time);
}
@media (orientation: landscape) {
    #deck-cards-container {
        padding-left: 72px;
        padding-right: 72px;
        padding-top: 72px;
    }
    #main-page.half #deck-cards-container {
        padding-left: 4px;
        padding-right: 4px;
    }
}
@media (orientation: portrait) {
    #deck-cards-container {
        padding-top: 72px;
        padding-bottom: 72px;
    }
}