.display {
    width: 64px;
    height: 64px;
    margin: 4px;

    line-height: 64px;
    text-align: center;
    font-size: 32px;
    background-color: var(--dark-blue); /* #ebf3fc */
    color: var(--yellow);

    border-radius: 64px;
    border-bottom: 8px solid var(--darkest-blue); /* #dde7f1 */
}