#main-page {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: width var(--transition-time), height var(--transition-time);
}

@media (orientation: landscape) {
    #main-page {
        right: 0;
    }
    #main-page.half {
        width: calc(50% - 4px);
    }
    #main-page.hidden {
        width: 0%;
    }
}
@media (orientation: portrait) {
    #main-page.half {
        height: calc(50% - 4px);
    }
    #main-page.hidden {
        height: 0%;
    }
}

.animation-paused {
    animation-play-state: paused !important;
}

#top {
    position: absolute;
    display: flex;
    height: 64px;
    width: 100%;
}

#total-cards-in-deck {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 64px);
    margin-top: -72;
    height: 200%;
    width: 128px;
    border-radius: 128px;
    line-height: 184px;
    font-size: 48px;
    font-family: 'Futura Heavy';
    cursor: pointer;
}