#sidebar {
    position: absolute;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    z-index: 2000;
    transition: width var(--transition-time), height var(--transition-time), transform var(--transition-time);
}
@media (orientation: landscape) {
    #sidebar {
        height: 100%;
        width: calc(50% + 4px);
        transform: translateX(-100%);
    }
    #sidebar.open {
        transform: translateX(0);
    }
    #sidebar.fullscreen {
        width: 100%;
    }
}
@media (orientation: portrait) {
    #sidebar {
        height: calc(50% + 4px);
        width: 100%;
        bottom: 0;
        transform: translateY(100%);
    }
    #sidebar.open {
        transform: translateY(0);
    }
    #sidebar.fullscreen {
        height: 100%;
    }
}



#sidebar-tab {
    position: absolute;
    background-color: var(--dark-blue);
    border-bottom: 8px solid var(--darkest-blue);
    transition: width var(--transition-time), height var(--transition-time), right var(--transition-time), background-color var(--half-transition-time);
}
#sidebar-tab.hidden {
    opacity: 0;
    pointer-events: none;
}
@media (orientation: landscape) {
    #sidebar-tab {
        width: 68px;
        height: 100%;
        right: -68px;
        border-top-right-radius: 68px;
        border-bottom-right-radius: 68px;
    }
    #sidebar.open #sidebar-tab {
        height: 68px;
    }
    #filters.open ~ #sidebar #sidebar-tab {
        right: calc(-100% - 76px);
    }
}
@media (orientation: portrait) {
    #sidebar-tab {
        width: 100%;
        height: 64px;
        top: -64px;
        border-top-right-radius: 64px;
        border-top-left-radius: 64px;
    }
    #sidebar.open #sidebar-tab {
        height: 8px;
        top: -8px;
        border-radius: 0px;
    }
}



#sidebar-top-container {
    position: absolute;
    width: 100%;
    height: 68px;
    z-index: 1001;
    transition: opacity var(--transition-time);
}
#sidebar-top-container.hidden {
    opacity: 0;
    pointer-events: none;
}
@media (orientation: portrait) {
    #sidebar:not(.fullscreen).open #sidebar-top-container {
        top: -8px;
    }
}



#sidebar-top-fullscreen-button {
    position: absolute;
    height: 100%;
    width: 68px;
    top: 0;
    margin: 0;
    padding-top: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#sidebar-top-fullscreen-button:active {
    border-bottom-right-radius: 16px;
}
@media (orientation: landscape) {
    #sidebar-top-fullscreen-button {
        border-top-right-radius: 0;
    }
}


#sidebar-top-search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding-left: 88px;
    border-radius: 0;
    transition: width var(--transition-time), top var(--transition-time), border-radius var(--transition-time), background-color var(--half-transition-time);
}
@media (orientation: landscape) {
    #filters.open ~ #sidebar #sidebar-top-search-input {
        width: 100vw;
    }
}
#sidebar-top-container:has(#sidebar-top-search-input:hover) ~ #sidebar-tab {
    background-color: var(--blue);
    border-bottom: 8px solid var(--dark-blue);
}



#sidebar-divider {
    position: absolute;
    background-color: var(--sidebar-divider-color);
    transition: width var(--transition-time), height var(--transition-time), right var(--transition-time), top var(--transition-time), border-radius var(--transition-time);
}
@media (orientation: landscape) {
    #sidebar-divider {
        width: 8px;
        height: 100%;
        right: 0;
    }
}




#sidebar-cards-container {
    top: 68px;
    height: calc(100% - 68px);
    transition: padding var(--transition-time);
    scrollbar-width: thin;
    scrollbar-color: var(--blue) rgba(0,0,0,0) !important;
    scrollbar-gutter: stable;
}
#sidebar-cards-container::-webkit-scrollbar {
    width: 8px;
}
#sidebar-cards-container::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 4px;
    transition: background-color var(--half-transition-time)
}
#sidebar-cards-container::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}
@media (orientation: portrait) {
    #sidebar:not(.fullscreen).open #sidebar-cards-container {
        top: 68px;
    }
}