#sidebar {
    position: absolute;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: width var(--transition-time), height var(--transition-time), transform var(--transition-time), background-color var(--transition-time);
}
@media (orientation: landscape) {
    #sidebar {
        height: 100%;
        width: calc(50% - 4px);
        transform: translateX(-100%);
    }
    #sidebar.open {
        transform: translateX(0);
    }
    #sidebar.fullscreen {
        width: 100%;
    }
}
@media (orientation: portrait) {
    #sidebar {
        height: calc(50% - 4px);
        width: 100%;
        bottom: 0;
        transform: translateY(100%);
    }
    #sidebar.open {
        transform: translateY(0);
    }
    #sidebar.fullscreen {
        height: 100%;
    }
}



#sidebar-tab {
    position: absolute;
    background-color: var(--dark-blue);
    border-bottom: 8px solid var(--darkest-blue);
    transition: width var(--transition-time), height var(--transition-time), right var(--transition-time), background-color var(--half-transition-time);
}
#sidebar-tab.hidden {
    opacity: 0;
    pointer-events: none;
}
@media (orientation: landscape) {
    #sidebar-tab {
        width: 64px;
        height: 100%;
        right: -64px;
        border-top-right-radius: 64px;
        border-bottom-right-radius: 64px;
    }
    #sidebar.open #sidebar-tab {
        height: 64px;
    }
    #filters.open ~ #sidebar #sidebar-tab {
        right: calc(-100% - 72px);
    }
}
@media (orientation: portrait) {
    #sidebar-tab {
        width: 100%;
        height: 64px;
        top: -64px;
        border-top-right-radius: 64px;
        border-top-left-radius: 64px;
    }
    #sidebar.open #sidebar-tab {
        height: 8px;
        top: -8px;
        border-radius: 0px;
    }
}



#sidebar-divider {
    position: absolute;
    background-color: var(--sidebar-divider-color);
    transition: width var(--transition-time), height var(--transition-time), right var(--transition-time), top var(--transition-time), border-radius var(--transition-time);
}
@media (orientation: landscape) {
    #sidebar-divider {
        width: 8px;
        right: -8px;
        height: 100%;
    }
}


#sidebar-top-container {
    position: absolute;
    width: 100%;
    height: 64px;
    z-index: 1001;
    transition: opacity var(--transition-time);
}
#sidebar-top-container.hidden {
    opacity: 0;
    pointer-events: none;
}
@media (orientation: portrait) {
    #sidebar:not(.fullscreen).open #sidebar-top-container {
        top: -8px;
    }
}



#sidebar-top-fullscreen-button {
    position: absolute;
    height: 100%;
    width: 64px;
    top: 0;
    margin: 0;
    padding-top: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#sidebar-top-fullscreen-button:active {
    border-bottom-right-radius: 16px;
}
@media (orientation: landscape) {
    #sidebar-top-fullscreen-button {
        border-top-right-radius: 0;
    }
}


#sidebar-top-search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding-left: 88px;
    border-radius: 0;
    transition: width var(--transition-time), top var(--transition-time), border-radius var(--transition-time), background-color var(--half-transition-time);
}
@media (orientation: landscape) {
    #filters.open ~ #sidebar #sidebar-top-search-input {
        width: 100vw;
    }
}
#sidebar-top-container:has(#sidebar-top-search-input:hover) ~ #sidebar-tab {
    background-color: var(--blue);
    border-bottom: 8px solid var(--dark-blue);
}



#sidebar-cards-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    grid-auto-rows: min-content;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 4px;
    padding-top: 68px;
    transition: padding var(--transition-time);
}
@media (orientation: portrait) {
    #sidebar:not(.fullscreen).open #sidebar-cards-container {
        padding-top: 68px;
    }
}



#sidebar-cards-spacer-top, #sidebar-cards-spacer-bottom {
    grid-column: 1 / -1;
    will-change: height;
}